# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Build / distribuție
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Logs
# =========================
*.log

# =========================
# Home Assistant (IMPORTANT)
# =========================
.storage/
custom_components/**/__pycache__/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Test / cache
# =========================
.pytest_cache/
.mypy_cache/
.cache/

# =========================
# Environment files
# =========================
.env
.env.*
